*{
    margin: 10px 4px  ;
    font-family: "Inter", sans-serif;
    letter-spacing: -1px;
}

h1 {
    color:#ffffff;
    background-color: #000000;
    font-size:48px ;
    padding: 10px;
}

h1 span{
    color: #00ffff;
}

h2{
    font-size: 32px;
    text-align: center;
    color: #ffffff;
    background-color: #7b1994;
    font-style: italic;
    padding: 10px;
}

h3{
    font-size: 24px;
    text-align: right;
    text-decoration: underline;
    color:#1e135e;
    background-color: #99bbe7;
    padding: 10px  15px ;
}