


.container{
    background-color: aqua;
    width: 900px;
    height: 600px;
    margin: 0 auto;
    padding: 18px;
}

.header-box{
    background-color: green;
    height: 150px;
}

.main-contaner{
    display: flex;
    gap: 15px;
    margin-top: 15px;

}
.main-contaner-y{
    display: flex;
    gap: 15px;
    padding: 18px 50px 10px 15px;
}
.left-box{
    background-color: blue;
    height: 350px;
    width: 200px;
}

.main-right{
    background-color:red;
    width:700px;
    height: 435px;
}


.yellow1{
    background-color: yellow;
    width: 200px;
    height: 200px;
}

 .bottom-right{
    background-color: blueviolet;
    width:600px;
    height: 100px;
    padding:14px ;
    margin: 15px;
}